<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Space Y!</title>

    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,900,700,500,300,100);

        body {
            font-family: 'Roboto', sans-serif;
        }

        .mt-0{
            margin-top: 0px !important;
        }

        .mb-0{
            margin-bottom: 0px !important;
        }
    </style>
</head>
<body>
    <section>
        <h3>Hey <%= data?.name %>,</h3>
        <p>Welcome to Space Y! </p>
        <p>We're thrilled to have you join our community. You've just taken the first step towards connecting with amazing people and exploring endless possibilities. Here's a quick rundown to help you get started:</p>
        <h4>Here's your starter pack:</h4>
        <ol>
            <li><strong>Complete Your Profile:</strong> Let's see the real you!</li>
            <li><strong>Explore & Connect:</strong> Discover awesome people and groups.</li>
            <li><strong>Share Your Moments:</strong> Post your photos, videos, and more.</li>
        </ol>
        <h4>Need a hand?</h4>
        <p>We're here for you! Reach us at <a href="mailto:spacey.cholan@gmail.com">spacey.cholan@gmail.com</a></p>
        <p>Let's make great memories together!</p>
        <p class="mb-0"><strong>Cheers,</strong></p>
        <p class="mt-0">The Space Y Team</p>
    </section>
</body>
</html>